In [7]:



from os.path import join, exists
import pandas as pd
from os import makedirs
from datetime import date
import pandas as pd
import pandas_datareader.data as web

def compile_stock_indices(start_date = date(2000,1, 1),end_date=date(2000,2, 1)):
    STOCKS_DIR = join('data' ,'stock_data')
    makedirs(STOCKS_DIR, exist_ok=True)

    file_name = join(STOCKS_DIR, start_date.strftime('%Y-%m-%d') +'::'+ end_date.strftime('%Y-%m-%d') + '.pkl')

    
    df_sp500 = web.get_data_yahoo('%5EGSPC', start_date, end_date)   #sp500 
    df_dow = web.get_data_yahoo('%5EDJI', start_date, end_date) 
    df_welshire = web.get_data_yahoo('WIBCX', start_date, end_date) 
    df_nasdaq = web.get_data_yahoo('%5EIXIC', start_date, end_date) 
    df_russel =   web.get_data_yahoo('%5ERUT', start_date, end_date)


    df_sp500 = df_sp500[['Close']]
    df_sp500.rename(columns={'Close': 'sp_500'}, inplace=True)

    df_nasdaq = df_nasdaq[['Close']]
    df_nasdaq.rename(columns={'Close': 'nasdaq'}, inplace=True)

    df_dow = df_dow[['Close']]
    df_dow.rename(columns={'Close': 'dow_jones'}, inplace=True)

    df_welshire = df_welshire[['Close']]
    df_welshire.rename(columns={'Close': 'welshire'}, inplace=True)


    df_russel = df_russel[['Close']]
    df_russel.rename(columns={'Close': 'russel'}, inplace=True)

    df_stock_prices = pd.concat([df_sp500, df_nasdaq,df_dow,df_welshire,df_russel], axis=1)
    
    df_stock_prices.to_pickle(file_name)
    print("Stock indices pickeld for date range:",start_date.strftime('%Y-%m-%d') +'::'+ end_date.strftime('%Y-%m-%d'))

Stock indices pickeld for date range: 2006-01-01::2006-01-15

                 sp_500       nasdaq     dow_jones   welshire      russel
Date
2006-01-03  1268.800049  2243.739990  10847.410156  18.440001  684.049988
2006-01-04  1273.459961  2263.459961  10880.150391  18.719999  689.250000
2006-01-05  1273.479980  2276.870117  10882.150391  18.700001  691.770020
2006-01-06  1285.449951  2305.620117  10959.309570  18.889999  699.390015
2006-01-09  1290.150024  2318.689941  11011.900391  18.870001  706.239990
2006-01-10  1289.689941  2320.320068  11011.580078  18.680000  710.989990
2006-01-11  1294.180054  2331.360107  11043.440430  18.830000  711.190002
2006-01-12  1286.060059  2316.689941  10962.360352  18.889999  706.789978
2006-01-13  1287.609985  2317.040039  10959.870117  18.799999  708.440002